*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Commons */
.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix{
    content: '';
    clear: both;
    display: table;
}

.font-white{
    color: white
}


/* Header */
header{
    background-color: #3161E0;
    
}
.column-1{
    float: left;
    width: 70%;
}

.column-2{
    float: left;
    width: 30%;
}

ul li{
    display: inline-block;
    list-style: none;
}
