*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Commons */
.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix{
    content: '';
    clear: both;
    display: table;
}

.font-white{
    color: white
}

.font-size-small{
    font-size: 12px;
}
.logo-discord{
    vertical-align: middle;
    padding-right: 170px;

}

.button-white{
    background-color: white;
    color: black;
    padding:8px;
    border-radius: 50%;
    text-decoration: none;
    

}
/* Header */
header{
    background-color: #3161E0;
}

.column-1{
    float: left;
    width: 80%;
    text-align: center;
}

.column-2{
    float: left;
    width: 20%;
    padding-top: 20px;

}

ul{
    display: inline-block;
    list-style: none;

}
ul li {
    display: inline-block;

}
ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 20px 15px 20px;
}
